{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.register'|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="row">
            <div class="col-6 offset-3 text-center">
                <h2 class="h2 mb-4"><i class="bi bi-emoji-dizzy text-danger me-2"></i> <strong>{{ 'user.password.forget'|trans|capitalize }}</strong></h2>
            </div>
        </div>

        <form name="passwd_forget" method="post" action="{{ path('app_reloadpwd') }}">
            <div class="row">
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <label for="pwd_email" class="form-label required">{{ 'password.forget.email.label'|trans|capitalize }}</label>
                        <input type="email"
                               name="pwd_email"
                               id="pwd_email"
                               class="form-control"
                               required="required"
                               placeholder="{{ 'password.forget.email.placeholder'|trans|capitalize }}"
                               aria-required="true"
                        >
                    </div>
                </div>
            </div>

            <div class="row text-center mt-2">
                <div class="col-6 offset-3">
                    <button type="submit" class="btn btn-success">{{ 'password.forget.btn_reload'|trans|capitalize }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
