<div class="{% if gClass is defined %} {{ gClass }} {% else %}col-sm-12 col-md-6 col-lg-3{% endif%} px-1">
    <div class="video mb-3">
        <div class="video-thumbnail">
            {% if link.category.code is same as ('videos') %}
                <a href="{{ path('links.show', {'slug': link.slug, 'id': link.id}) }}">
                    <img src="{{ link.imgLarge }}" alt="" class="img-fluid">
                </a>
            {% else %}
                <a href="{{ link.url }}"
                   title="{{ 'links.target_blank'|trans|capitalize }}"
                   data-toggle="tooltip"
                   data-placement="middle">
                    {% if link.image %}
                    <img src="{{ vich_uploader_asset(link, 'imageFile') }}" alt="" class="img-fluid">
                    {% elseif link.category.image %}
                        <img src="{{ vich_uploader_asset(link.category, 'imageFile') }}" alt="" class="img-fluid">
                    {% else %}
                        <img src="{{ asset('build/images/articles.jpg') }}" alt="" class="img-fluid">
                    {% endif %}
                </a>
            {% endif %}
            <div class="video-informations p-1">
                {% if link.category.code is not same as ('videos') %}
                    <span class="badge bg-primary rounded"
                          title="{{ 'links.target_blank'|trans|capitalize }}"
                          data-toggle="tooltip"
                          data-placement="top"
                    >{{ link.category }}</span>
                {% endif %}
                {% if link.language.logo %}
                    <img src="{{ vich_uploader_asset(link.language, 'imageFile') }}"
                         class="img-fluid flag-tag"
                         alt="{{ link.language }}"
                         title="{{ link.language }}"
                         data-toggle="tooltip"
                         data-placement="top"
                    />
                {% else %}
                    <span class="badge bg-primary rounded"
                          title="{{ link.language }}"
                          data-toggle="tooltip"
                          data-placement="top"
                    >{{ link.language }}</span>
                {% endif %}
                {% for tag in link.tags %}
                    <img alt="{{ tag }}"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="{{ tag }}"
                         src="https://img.shields.io/badge/{{ tag }}-white.svg?&style=flat&logo={{ tag.code }}&logoColor={{ tag.color }}" />
                {% endfor %}
            </div>
        </div>
        <div class="d-flex mt-1">
            {% if link.author.logo %}
                <div class="author-thumbnail me-2">
                    <img src="{{ link.author.logo }}" class="rounded-circle" alt="{{ link.author.title }}">
                </div>
            {% elseif link.author.attachment %}
                <div class="author-thumbnail me-2">
                    <img src="{{ vich_uploader_asset(link.author.attachment, 'imageFile') }}" alt="{{ link.author.title }}" class="rounded-circle">
                </div>
            {% endif %}
            <div class="align-self-start">
                <div class="video-title fs my-1">
                {% if link.category.code is same as ('videos') %}
                    <a href="{{ path('links.show', {'slug': link.slug, 'id': link.id}) }}" class="text-decoration-none">
                        <strong>{{ link.title|u.truncate(60, '...') }}</strong>
                    </a>
                {% else %}
                    <a href="{{ link.url }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       target="_blank"
                       title="{{ 'links.target_blank'|trans|capitalize }}"
                       class="text-decoration-none">
                        {% if withIco is defined %}<i class="{{ categoryIcon(link.category.code) }} me-1"></i>{% endif %}
                        <strong>{{ link.title|u.truncate(60, '...') }}</strong><i class="ms-1 bi bi-box-arrow-up-right"></i>
                    </a>
                {% endif %}
                </div>

                <div class="video-meta small my-1">
                    <a href="{{ path('authors.show', { 'slug' : link.author.slug, 'id' : link.author.id }) }}" class="text-decoration-none">
                        <i class="bi bi-mortarboard-fill me-1"></i>{{ link.author }}
                    </a>
                </div>

                <div class="video-date small">
                    Ajouté le {{ link.publishedAt|date('d/m/Y') }} par {{ link.publishedBy }}
                </div>

                {% if link.category.code is same as ('formations') %}
                    {% if withDesc is defined %}
                    <div class="mt-2 fs-7">
                        {{ link.description|raw|nl2br }}
                    </div>
                    {% elseif link.description|length > 0 %}
                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#jsDescrModal{{ link.id }}">
                            {{ 'btn.show_description'|trans|capitalize }}
                        </button>

                        <div class="modal fade" id="jsDescrModal{{ link.id }}" tabindex="-1" aria-labelledby="jsDescrModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="jsDescrModalLabel">{{ link.title }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ link.description|raw|nl2br }}
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ link.url }}"
                                           title="{{ 'links.target_blank'|trans|capitalize }}"
                                           class="btn btn-outline-success me-2"
                                           target="_blank"
                                           data-toggle="tooltip"
                                           data-placement="middle">
                                            {{ 'btn.follow_formation_link'|trans|capitalize }} <i class="ms-1 bi bi-box-arrow-up-right"></i>
                                        </a>
                                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>