<div class="col-sm-12 col-lg-4 d-flex mb-1">
    <div class="video ressources-card border-dark border-1 rounded p-2 flex-fill">
        <div class="d-flex">
            <div class="align-self-start">
                <div class="video-title fs my-1">
                    <a href="{{ link.url }}"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       target="_blank"
                       title="{{ 'links.target_blank'|trans|capitalize }}"
                       class="text-decoration-none">
                        {% if withIco is defined %}<i class="{{ categoryIcon(link.category.code) }} me-1"></i>{% endif %}
                        <strong>{{ link.title|u.truncate(60, '...') }}</strong><i class="ms-1 bi bi-box-arrow-up-right"></i>
                    </a>
                </div>

                <div class="video-meta small my-1">
                    <a href="{{ path('authors.show', { 'slug' : link.author.slug, 'id' : link.author.id }) }}" class="text-decoration-none">
                        <i class="bi bi-mortarboard-fill me-1"></i>{{ link.author }}
                    </a>
                </div>

                <div class="video-tags">
                    {% if link.language.logo %}
                        <img src="{{ vich_uploader_asset(link.language, 'imageFile') }}"
                             class="img-fluid flag-tag"
                             alt="{{ link.language }}"
                             title="{{ link.language }}"
                             data-toggle="tooltip"
                             data-placement="top"
                        />
                    {% else %}
                        <span class="badge bg-primary rounded"
                              title="{{ link.language }}"
                              data-toggle="tooltip"
                              data-placement="top"
                        >{{ link.language }}</span>
                    {% endif %}
                    {% for tag in link.tags %}
                        <span class="badge bg-primary rounded"
                              title="{{ tag }}"
                              data-toggle="tooltip"
                              data-placement="top"
                        >{{ tag }}</span>
                    {% endfor %}
                </div>

                <div class="video-date small">
                    Ajouté le {{ link.publishedAt|date('d/m/Y') }} par {{ link.publishedBy }}
                </div>
            </div>
        </div>
    </div>
</div>