<div class="row pb-3">
    {% if noimage is not defined %}
    <div class="col-4">
        <div class="link-thumbnail">
            <a href="{{ link.url }}"
               title="{{ 'links.target_blank'|trans|capitalize }}"
               target="_blank"
               data-toggle="tooltip"
               data-placement="middle">
                {% if link.image %}
                    <img src="{{ vich_uploader_asset(link, 'imageFile') }}" alt="" class="img-fluid">
                {% elseif link.category.image %}
                    <img src="{{ vich_uploader_asset(link.category, 'imageFile') }}" alt="" class="img-fluid">
                {% else %}
                    <img src="{{ asset('build/images/articles.jpg') }}" alt="" class="img-fluid">
                {% endif %}

                <div class="link-target">
                    <i class="bi bi-box-arrow-up-right"></i>
                </div>
            </a>
        </div>
    </div>
    {% endif %}

    <div class="col">
        <div class="align-self-start">
            <div class="video-title fs mb-1">
                <a href="{{ link.url }}"
                   class="text-decoration-none"
                   title="{{ 'links.target_blank'|trans|capitalize }}"
                   target="_blank"
                   data-toggle="tooltip"
                   data-placement="top">
                    <strong>{{ link.title|u.truncate(60, '...') }}</strong><i class="ms-1 bi bi-box-arrow-up-right"></i>
                </a>
            </div>

            <div class="video-meta small my-1">
                <a href="{{ path('authors.show', { 'slug' : link.author.slug, 'id' : link.author.id }) }}"
                   class="text-decoration-none">
                    <i class="bi bi-mortarboard-fill me-1"></i>{{ link.author }}
                </a>
            </div>
            <div class="video-date small">
                Ajouté le {{ link.publishedAt|date('d/m/Y') }} par {{ link.publishedBy }}
            </div>

            <div class="video-informations px-1">
                {% if link.language.logo %}
                    <img src="{{ vich_uploader_asset(link.language, 'imageFile') }}"
                         class="img-fluid flag-tag"
                         alt="{{ link.language }}"
                         title="{{ link.language }}"
                         data-toggle="tooltip"
                         data-placement="top"
                    />
                {% else %}
                    <span class="badge bg-primary rounded"
                          title="{{ link.language }}"
                          data-toggle="tooltip"
                          data-placement="top"
                    >{{ link.language }}</span>
                {% endif %}
                {% for tag in link.tags %}
                    <img alt="{{ tag }}" src="https://img.shields.io/badge/{{ tag }}-white.svg?&style=flat&logo={{ tag.code }}&logoColor={{ tag.color }}" />
                {% endfor %}
            </div>
        </div>
    </div>
</div>