<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="video mb-3 p-2 bg-orange-100 rounded-10">
        <div class="d-flex mb-2">
            {% if job['fields']['Logo (from Team ID)'][0]['url'] is defined %}
                <div class="me-2">
                    <img src="{{ job['fields']['Logo (from Team ID)'][0]['url'] }}" width="100px" height="100px" class="img-thumbnail me-2 rounded-10" alt="">
                </div>
            {% endif %}
            <div class="align-items-center">
                <div class="video-title fs my-1">
                    <span class="fw-bold fs-4">{{ job['fields']['Company name (from Team ID)'] }}</span>
                </div>

                {% for k, mission in job['fields']['Mission (from Team ID)'] %}
                    <span class="badge text-purple-600 bg-purple-100 font-semibold"><i class="bi bi-bullseye me-1"></i> {{ mission }}</span>
                {% endfor %}

                {% for k, value in job['fields']['Values (from Team ID)'] %}
                    <span class="badge text-red-600 bg-red-100 font-semibold"><i class="bi bi-heart me-1"></i> {{ value }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <span class="fs-5">{{ job['fields']['Job title'] }}</span>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <div class="align-items-center">
                <span class="badge text-cyan-600 bg-cyan-100 font-semibold"><i class="bi bi-geo-alt me-1"></i> {{ job['fields']['Job location'] }}</span>

                {% for k, type in job['fields']['Job type'] %}
                    <span class="badge text-purple-600 bg-purple-100 font-semibold"><i class="bi bi-activity me-1"></i> {{ type }}</span>
                {% endfor %}


                {% for k, remote in job['fields']['Job remote work'] %}
                    <span class="badge text-yellow-600 bg-yellow-100 font-semibold"><i class="bi bi-house me-1"></i> {{ remote }}</span>
                {% endfor %}

                <br />

                {% if job['fields']['Skills/stack'] is defined %}
                    {{ mltSkills(job['fields']['Skills/stack']) }}
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-center mb-2">
            <div class="align-items-center">
                <a href="{{ job['fields']['Page URL'] }}?source=tutomarks" target="_blank" class="btn btn-outline-primary btn-sm">{{ 'mlt.joblink'|trans }} <i class="ms-1 bi bi-box-arrow-up-right"></i></a>
            </div>
        </div>
    </div>
</div>