{% extends 'base.html.twig' %}

{% block title %}TutoMarks : {{ 'about.title'|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1 class="h1">{{ 'about.title'|trans|capitalize }}</h1>

        <h2 class="h2 mt-5">{{ 'about.why.title'|trans|capitalize }}</h2>
        <p>
            {{ 'about.why.text'|trans|raw }}
        </p>

        <h2 class="h2 mt-5">{{ 'about.who.title'|trans|capitalize }}</h2>
        <p>
            {{ 'about.who.text'|trans|raw }}
            {{ 'about.who.i_am'|trans|capitalize }} <a href="https://tonnevillec.github.io/" target="_blank" class="">Cyril</a> ;)
        </p>

        <h2 class="h2 mt-5">{{ 'about.what.title'|trans|capitalize }}</h2>
        <p>
            {{ 'about.what.text'|trans|raw }}
        </p>
        <div class="list-group">
            <a class="list-group-item" href="https://symfony.com/" target="_blank">Symfony</a>
            <a class="list-group-item" href="https://getbootstrap.com" target="_blank">Bootstrap</a>
            <a class="list-group-item" href="https://github.com/tonnevillec/tutomarks" target="_blank">Github</a>
            <a class="list-group-item" href="https://hidora.io/" target="_blank">Hidora pour l'hébergement</a>
        </div>
    </div>
{% endblock %}
