{% extends 'base.html.twig' %}

{% block title %}Tutomarks - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <nav class="nav justify-content-center mt-2 shortcut-nav">
            <a href="#section_videos" class="nav-link" target="_self">Vidéos</a>
            <a href="#section_authors" class="nav-link" target="_self">Top créateurs</a>
            <a href="#section_hebdoo" class="nav-link" target="_self">Hebdoo.fr</a>
            <a href="#section_ressources" class="nav-link" target="_self">Ressources</a>
            <a href="#section_tags" class="nav-link" target="_self">Tags</a>
            <a href="#section_articles" class="nav-link" target="_self">Articles</a>
            <a href="#section_podcasts" class="nav-link" target="_self">Podcasts</a>
            <a href="#section_formations" class="nav-link" target="_self">Formations</a>
            <a href="#section_events" class="nav-link" target="_self">{{ 'events.navlink'|trans|capitalize }}</a>
            {% if mlt|length > 0 %}
                <a href="#section_mlt" class="nav-link" target="_self">{{ 'mlt.navlink'|trans|capitalize }}</a>
            {% endif %}
        </nav>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
                    {{ message|capitalize }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="video-row pb-2" id="section_videos">
            <div class="video-row-title my-4 ml-1">
                <h2 class="h2">
                    <span class="text-primary me-1"><i class="{{ categoryIcon('videos') }}"></i></span> {{ 'home.last-videos'|trans|capitalize }}

                    {% if app.user %}
                        <div class="float-end">
                            <a href="{{ path('ytlinks.add') }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                <i class="bi bi-plus"></i>
                                <span>{{ 'categories.videos.new'|trans|capitalize }}</span>
                            </a>
                        </div>
                    {% endif %}
                </h2>
            </div>

            <div class="row pb-3">
                {% for yt in youtubelinks %}
                    {{ include('home/_card_simplelinks.html.twig', { 'link': yt }) }}
                {% endfor %}
            </div>

            {% if youtubelinks|length > 0 %}
                <div class="row py-3">
                    <a href="{{ path('search', {'categories[]' : youtubelinks[0].category.id}) }}" class="col a-show-more text-center small">
                        <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_videos'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="row pb-2">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="video-row-title my-4 ml-1">
                    <h2 class="h2" id="section_authors">
                        <span class="text-primary me-1"><i class="bi bi-git"></i></span> {{ 'home.top-channels'|trans|capitalize }}
                    </h2>
                </div>

                <div class="row pb-3">
                    {% for author in authors %}
                        {{ include('home/_creator_card.html.twig', {'author': author}) }}
                    {% endfor %}
                </div>

                <div class="row py-3">
                    <a href="{{ path('authors.index') }}" class="col a-show-more text-center small">
                        <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }} {{ 'show_more_authors'|trans }}
                    </a>
                </div>

                <div class="row pb-3">
                    <div class="col-12">
                        <div class="video-row-title my-4 ml-1">
                            <h2 class="h2" id="section_ressources">
                                <span class="text-primary me-1"><i class="{{ categoryIcon('ressources') }}"></i></span> {{ 'home.last-resources'|trans|capitalize }}

                                {% if app.user and is_granted('ROLE_ADMIN') %}
                                    <div class="float-end">
                                        <a href="{{ path('slinks.add', { 'category' : 'ressources' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                            <i class="bi bi-plus"></i>
                                            <span>{{ 'categories.ressources.new'|trans|capitalize }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </h2>
                        </div>

                        <div class="row pb-3">
                            {% for ressource in ressources %}
                                {{ include('home/_card_ressources.html.twig', {'link': ressource}) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% if ressources|length > 0 %}
                    <div class="row py-3 px-5">
                        <a href="{{ path('search', {'categories[]' : ressources[0].category.id}) }}" class="col a-show-more text-center small">
                            <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_resources'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 ps-5">
                <div class="video-row-title my-4 ml-1">
                    <h2 class="h2" id="section_hebdoo">
                        <a href="https://www.hebdoo.fr" title="Accèder au site Hebdoo.fr dans une nouvelle fenetre" target="_blank" class="text-decoration-none">
                            <img src="{{ asset('build/images/hebdoo.png') }}" class="me-1"> {{ 'home.hebdoo'|trans|capitalize }}
                        </a><br>
                    </h2>
                </div>

                <div class="row pb-3">
                    <div class="col">
                        <h3 class="h3">
                            <a href="https://www.youtube.fr/watch?v={{ hebdoo.youtube }}"
                               class="text-decoration-none"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Accèder à la vidéo Hebdoo.fr sur Youtube"
                               target="_blank">
                                Semaine du {{ hebdoo.semaine }} <i class="ms-1 bi bi-box-arrow-up-right"></i>
                            </a>
                        </h3>
                        <div class="list-group">
                        {% for ressoure in hebdoo.ressources %}
                            <a href="{{ ressoure.url }}"
                               class="list-group-item list-group-item-action"
                               title="Ouvrir la ressource dans une nouvelle fenetre"
                               target="_blank"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                            >
                                <strong>{{ ressoure.title }}</strong><i class="ms-1 bi bi-box-arrow-up-right"></i><br>
                                par {{ ressoure.pseudo }}
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-row pb-2">
            <div class="row">
                <div class="col-12">
                    <div class="video-row-title my-4 ml-1">
                        <h2 class="h2" id="section_tags">
                            <span class="text-primary me-1"><i class="bi bi-tags-fill"></i></span> {{ 'home.top-tags'|trans|capitalize }}
                        </h2>
                    </div>

                    <div class="row pb-3">
                        <div class="col text-center">
                            {% for tag in tags %}
                                <a href="{{ path('search', {'tags[]' : tag.id}) }}"
                                   class="tags-link"
                                   title="{{ tag }}"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                ><img alt="{{ tag }}" src="https://img.shields.io/badge/{{ tag }}-white.svg?&style=for-the-badge&logo={{ tag.code }}&logoColor={{ tag.color }}" /></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-row pb-2">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="video-row-title my-4 ml-1">
                        <h2 class="h2" id="section_articles">
                            <span class="text-primary me-1"><i class="{{ categoryIcon('articles') }}"></i></span> {{ 'home.last-articles'|trans|capitalize }}

                            {% if app.user %}
                                <div class="float-end pe-2">
                                    <a href="{{ path('slinks.add', { 'category' : 'articles' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.articles.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                    </div>

                    {% for article in articles %}
                        {{ include('home/_minimal_infos.html.twig', {'link': article}) }}
                    {% endfor %}

                    {% if articles|length > 0 %}
                        <div class="row py-3 px-5">
                            <a href="{{ path('search', {'categories[]' : articles[0].category.id}) }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_articles'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="video-row-title my-4 ml-1">
                        <h2 class="h2" id="section_podcasts">
                            <span class="text-primary me-1"><i class="{{ categoryIcon('podcasts') }}"></i></span> {{ 'home.last-podcasts'|trans|capitalize }}

                            {% if app.user %}
                                <div class="float-end pe-2">
                                    <a href="{{ path('slinks.add', { 'category' : 'podcasts' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.podcasts.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                    </div>

                    {% for podcast in podcasts %}
                        {{ include('home/_minimal_infos.html.twig', {'link': podcast}) }}
                    {% endfor %}

                    {% if podcasts|length > 0 %}
                        <div class="row py-3 px-5">
                            <a href="{{ path('search', {'categories[]' : podcasts[0].category.id}) }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_podcasts'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="video-row pb-2">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12">
                    <div class="video-row-title my-4 ml-1">
                        <h2 class="h2" id="section_formations">
                            <span class="text-primary me-1"><i class="{{ categoryIcon('formations') }}"></i></span> {{ 'home.formations'|trans|capitalize }}

                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                <div class="float-end">
                                    <a href="{{ path('slinks.add', { 'category' : 'formations' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.formations.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                    </div>

                    <div class="row pb-3">
                        {% for formation in formations %}
                            {{ include('home/_minimal_infos.html.twig', {'link': formation}) }}
                        {% endfor %}
                    </div>

                    {% if formations|length > 0 %}
                        <div class="row py-3">
                            <a href="{{ path('search', {'categories[]' : formations[0].category.id}) }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_formations'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="video-row-title my-4 ml-1">
                        <h2 class="h2" id="section_events">
                            <span class="text-primary me-1"><i class="bi bi-calendar3"></i></span> {{ 'home.events'|trans|capitalize }}

                            {% if app.user %}
                                <div class="float-end">
                                    <a href="{{ path('events.add') }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.events.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                    </div>

                    <div class="row pb-3">
                        <div class="list-group">
                            {% for event in events %}
                                {{ include('home/_card_events.html.twig', { 'event': event}) }}
                            {% endfor %}
                        </div>
                    </div>

                    {% if events|length > 0 %}
                        <div class="row py-3">
                            <a href="{{ path('events.index') }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_events'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if mlt|length > 0 %}
        <div class="video-row pb-2" id="section_mlt">
            <div class="video-row-title my-4 ml-1">
                <h2 class="h2">
                    <img src="{{ asset('build/images/mlt.png') }}" width="40px" height="40px" class="me-1"> {{ 'mlt.title'|trans|capitalize }}
                </h2>
            </div>

            <div class="row pb-3">
                {% for job in mlt %}
                    {{ include('home/_mlt.html.twig', { 'job': job }) }}
                {% endfor %}
            </div>

            <div class="row py-3">
                <a href="https://www.mylittleteam.com/?source=tutomarks" class="col a-show-more text-center small">
                    {{ 'mlt.link'|trans|capitalize }} <i class="ms-1 bi bi-box-arrow-up-right"></i>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
