{% extends 'base.html.twig' %}

{% block title %}Tutomarks - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <nav class="nav justify-content-center mt-2 shortcut-nav">
            <a href="#section_videos" class="nav-link" target="_self">Vidéos</a>
            <a href="#section_authors" class="nav-link" target="_self">Top créateurs</a>
            <a href="#section_tags" class="nav-link" target="_self">Tags</a>
            <a href="#section_ressources" class="nav-link" target="_self">Ressources</a>
            <a href="#section_articles" class="nav-link" target="_self">Articles</a>
            <a href="#section_podcasts" class="nav-link" target="_self">Podcasts</a>
            <a href="#section_formations" class="nav-link" target="_self">Formations</a>
            <a href="#section_events" class="nav-link" target="_self">{{ 'events.navlink'|trans|capitalize }}</a>
        </nav>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
                    {{ message|capitalize }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="video-row pb-2" id="section_videos">
            <div class="section-heading style-2 my-4">
                <h2 class="h2">
                    <span class="text-primary me-2"><i class="{{ categoryIcon('videos') }}"></i></span>{{ 'home.last-videos'|trans|capitalize }}

                    {% if app.user %}
                    <div class="float-end">
                        <a href="{{ path('ytlinks.add') }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                            <i class="bi bi-plus"></i>
                            <span>{{ 'categories.videos.new'|trans|capitalize }}</span>
                        </a>
                    </div>
                    {% endif %}
                </h2>
                <div class="line"></div>
            </div>

            <div class="row pb-3">
                {% for yt in youtubelinks %}
                    {{ include('home/_card_simplelinks.html.twig', { 'link': yt }) }}
                {% endfor %}
            </div>

            {% if youtubelinks|length > 0 %}
                <div class="row py-3">
                    <a href="{{ path('search', {'categories[]' : youtubelinks[0].category.id}) }}" class="col a-show-more text-center small">
                        <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_videos'|trans }}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="row pb-2">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="section-heading style-2 my-4">
                    <h2 class="h2" id="section_authors">
                        <span class="text-primary me-2"><i class="bi bi-git"></i></span>{{ 'home.top-channels'|trans|capitalize }}
                    </h2>
                    <div class="line"></div>
                </div>

                <div class="row pb-3">
                    {% for author in authors %}
                        {{ include('home/_creator_card.html.twig', {'author': author}) }}
                    {% endfor %}
                </div>

                <div class="row py-3">
                    <a href="{{ path('authors.index') }}" class="col a-show-more text-center small">
                        <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }} {{ 'show_more_authors'|trans }}
                    </a>
                </div>

                <div class="row pb-3">
                    <div class="col-12">
                        <div class="section-heading style-2 my-4">
                            <h2 class="h2" id="section_ressources">
                                <span class="text-primary me-2"><i class="{{ categoryIcon('ressources') }}"></i></span>{{ 'home.last-resources'|trans|capitalize }}

                                {% if app.user %}
                                    <div class="float-end">
                                        <a href="{{ path('slinks.add', { 'category' : 'ressources' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                            <i class="bi bi-plus"></i>
                                            <span>{{ 'categories.ressources.new'|trans|capitalize }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            </h2>
                            <div class="line"></div>
                        </div>

                        <div class="row pb-3">
                            {% for ressource in ressources %}
                                {{ include('home/_card_ressources.html.twig', {'link': ressource}) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% if ressources|length > 0 %}
                    <div class="row py-3 px-5">
                        <a href="{{ path('search', {'categories[]' : ressources[0].category.id}) }}" class="col a-show-more text-center small">
                            <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_resources'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 ps-5">
                <div class="row mt-4 sidebar-area">
                    <div class="single-widget followers-widget">
                        <a href="#" class="videos">
                            <i class="bi bi-youtube" aria-hidden="true"></i>
                            <span class="counter">{{ countForCategory('videos') }}</span>
                            <span>Vidéos</span>
                        </a>

                        <a href="#" class="articles">
                            <i class="bi bi-twitter" aria-hidden="true"></i>
                            <span class="counter">{{ countForCategory('articles') }}</span>
                            <span>Articles</span>
                        </a>

                        <a href="#" class="authors">
                            <i class="bi bi-mortarboard-fill" aria-hidden="true"></i>
                            <span class="counter">{{ countForAuthors() }}</span>
                            <span>Créateurs</span>
                        </a>
                    </div>
                    <div class="single-widget followers-widget mb-4">
                        <a href="#" class="podcasts">
                            <i class="bi bi-youtube" aria-hidden="true"></i>
                            <span class="counter">{{ countForCategory('podcasts') }}</span>
                            <span>Podcasts</span>
                        </a>

                        <a href="#" class="ressources">
                            <i class="{{ categoryIcon('ressources') }}" aria-hidden="true"></i>
                            <span class="counter">{{ countForCategory('ressources') }}</span>
                            <span>Ressources</span>
                        </a>

                        <a href="#" class="formations">
                            <i class="bi bi-mortarboard-fill" aria-hidden="true"></i>
                            <span class="counter">{{ countForCategory('formations') }}</span>
                            <span>Formations</span>
                        </a>
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="col-12">
                        <div class="section-heading style-2 my-4">
                            <h2 class="h2" id="section_tags">
                                <span class="text-primary me-2"><i class="bi bi-tags-fill"></i></span>{{ 'home.top-tags'|trans|capitalize }}
                            </h2>
                            <div class="line"></div>
                        </div>

                        <div class="row pb-3 reveal">
                            <div class="col text-center">
                                <tagscloud-component data-url="{{ path('search', {'__tags__' : '__id__'}) }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-row pb-2 reveal">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="section-heading style-2 my-4">
                        <h2 class="h2" id="section_articles">
                            <span class="text-primary me-2"><i class="{{ categoryIcon('articles') }}"></i></span>{{ 'home.last-articles'|trans|capitalize }}

                            {% if app.user %}
                                <div class="float-end">
                                    <a href="{{ path('slinks.add', { 'category' : 'articles' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.articles.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                        <div class="line"></div>
                    </div>

                    {% for article in articles %}
                        {{ include('home/_minimal_infos.html.twig', {'link': article}) }}
                    {% endfor %}

                    {% if articles|length > 0 %}
                        <div class="row py-3 px-5">
                            <a href="{{ path('search', {'categories[]' : articles[0].category.id}) }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_articles'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="section-heading style-2 my-4">
                        <h2 class="h2" id="section_podcasts">
                            <span class="text-primary me-2"><i class="{{ categoryIcon('podcasts') }}"></i></span>{{ 'home.last-podcasts'|trans|capitalize }}

                            {% if app.user %}
                                <div class="float-end">
                                    <a href="{{ path('slinks.add', { 'category' : 'podcasts' }) }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.podcasts.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                        <div class="line"></div>
                    </div>

                    {% for podcast in podcasts %}
                        {{ include('home/_minimal_infos.html.twig', {'link': podcast}) }}
                    {% endfor %}

                    {% if podcasts|length > 0 %}
                        <div class="row py-3 px-5">
                            <a href="{{ path('search', {'categories[]' : podcasts[0].category.id}) }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_podcasts'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="video-row pb-2 reveal">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12">
                    <div class="section-heading style-2 my-4">
                        <h2 class="h2" id="section_formations">
                            <span class="text-primary me-2"><i class="{{ categoryIcon('formations') }}"></i></span>{{ 'home.formations'|trans|capitalize }}

                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                <div class="float-end">
                                    <a href="{{ path('slinks.add', { 'category' : 'formations' }) }}" class="btn btn-xs btn-outline-danger btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.formations.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                        <div class="line"></div>
                    </div>

                    <div class="row pb-3">
                        {% for formation in formations %}
                            {{ include('home/_minimal_infos.html.twig', {'link': formation}) }}
                        {% endfor %}
                    </div>

                    {% if formations|length > 0 %}
                        <div class="row py-3">
                            <a href="{{ path('search', {'categories[]' : formations[0].category.id}) }}" class="col a-show-more text-center small">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_formations'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="section-heading style-2 my-4">
                        <h2 class="h2" id="section_events">
                            <span class="text-primary me-2"><i class="bi bi-calendar3"></i></span>{{ 'home.events'|trans|capitalize }}

                            {% if app.user %}
                                <div class="float-end">
                                    <a href="{{ path('events.add') }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                                        <i class="bi bi-plus"></i>
                                        <span>{{ 'categories.events.new'|trans|capitalize }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </h2>
                        <div class="line"></div>
                    </div>

                    <div class="row pb-3">
                        <div class="list-group reveal">
                            <events-component></events-component>
                        </div>
                    </div>

                    <div class="row py-3">
                        <a href="{{ path('events.index') }}" class="col a-show-more text-center small">
                            <i class="bi bi-arrow-right-square me-1"></i> {{ 'show_more'|trans|capitalize }}  {{ 'show_more_events'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
