<div class="card mb-3 bg-dark search-section">
    <div class="card-body">
        {{ form_start(form)}}
        <div class="input-group mb-3">
            {% if app.request.query.has('element') and app.request.query.get('element') == 'word' %}
                {{ form_widget(form.search, { 'attr' : { 'value' : app.request.query.get('value') }}) }}
            {% else %}
                {{ form_widget(form.search) }}
            {% endif %}
            <div class="input-group-append">
                <button class="btn btn-success" type="submit"><i class="fas fa-search"></i> {{ 'btn.search'|trans|capitalize }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col">
                <button type="button" class="btn btn-primary btn-sm show_more" data-target="#advancedSearch">{{ 'btn.show_more_filters'|trans|capitalize }}</button>
            </div>
            <div class="col-md-6 col text-right">
                <a class="btn btn-outline-info btn-sm" href="{{ path('search') }}">{{ 'btn.reset'|trans|capitalize }}</a>
            </div>
        </div>

        <div id="advancedSearch" class="{% if form.vars.value.category is not null or form.vars.value.channel is not null or form.vars.value.tags|length > 0 or form.vars.value.pined is not same as (null) or form.vars.value.shown is not same as (null) %} {% else %}is-hide{% endif%} mt-3">
            <div class="row">
                <div class="col-md-4 col">
                    {{ form_row(form.category) }}
                </div>
                <div class="col-md-4 col">
                    {{ form_row(form.langue) }}
                </div>
                <div class="col-md-4 col">
                    <div class="form-group">
                        {{ form_row(form.evaluation) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col">
                    {{ form_row(form.price) }}
                </div>
                <div class="col-md-6 col">
                    {{ form_row(form.minlevel) }}
                </div>
            </div>

            {{ form_row(form.tags) }}

            {{ form_row(form.channel) }}

            <div class="row {% if not app.user %}d-none{% endif %}">
                <div class="col-md-6 col">
                    {{ form_row(form.pined) }}
                </div>
                <div class="col-md-6 col">
                    {{ form_row(form.shown) }}
                </div>
            </div>

        </div>

        {{ form_rest(form) }}
        {{ form_end(form)}}
    </div>
</div>

{% if result is defined %}
    <h2 class="font-weight-light mb-3 text-white">
        {{ result.getTotalItemCount }} {{ 'search.results'|trans|capitalize }}{{ result.getTotalItemCount > 1 ? 's' : '' }}

        <div class="btn-group float-right">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'search.orderby.menu'|trans|capitalize }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                {{ knp_pagination_sortable(result, 'search.orderby.title.asc'|trans|capitalize, 't.title', { 'class' : 'dropdown-item', 'type' : 'button', 'data-icon' : 'fas fa-sort-alpha-up'}, {'direction' : 'asc'}) }}
                {{ knp_pagination_sortable(result, 'search.orderby.title.desc'|trans|capitalize, 't.title', { 'class' : 'dropdown-item', 'type' : 'button', 'data-icon' : 'fas fa-sort-alpha-down'}, {'direction' : 'desc'}) }}
                {{ knp_pagination_sortable(result, 'search.orderby.date.asc'|trans|capitalize, 't.published_at', { 'class' : 'dropdown-item', 'type' : 'button', 'data-icon' : 'fas fa-sort-numeric-up'}, {'direction' : 'asc'}) }}
                {{ knp_pagination_sortable(result, 'search.orderby.date.desc'|trans|capitalize, 't.published_at', { 'class' : 'dropdown-item', 'type' : 'button', 'data-icon' : 'fas fa-sort-numeric-down'}, {'direction' : 'desc'}) }}
            </div>
        </div>
    </h2>
    <hr class="mb-3">

    <div class="row">
        {% for tuto in result %}
            {% include 'tutos/_light_card.html.twig' %}
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(result) }}
    </div>
{% endif %}
