<h1>{{ 'deadlink.mail.subject'|trans|capitalize }}</h1>
<p>
    {{ 'deadlink.mail.from'|trans|capitalize }} : {{ mail_from }}<br/>
    {{ 'deadlink.mail.link.id'|trans|capitalize }} : {{ link.id }}<br/>
    {{ 'deadlink.mail.link.title'|trans|capitalize }} : {{ link.title }}<br/>
    {{ 'deadlink.mail.message'|trans|capitalize }}
</p>