<h1>{{ 'mail.passwd.reset.title'|trans|capitalize }}</h1>
<p>
    {{ 'mail.hello'|trans|capitalize }} {{ user.username }},<br/>
    <br/>
    {{ 'mail.passwd.reset.l1'|trans|capitalize }}<br/>
    {{ 'mail.passwd.reset.new_is'|trans|capitalize }} : {{ new_password }}<br/>
    {{ 'mail.connect_on'|trans|capitalize }} <a href="https://www.tutomarks.fr">Tutomarks</a> {{ 'mail.passwd.reset.l2'|trans }}<br/>
    <br/>
    {{ 'mail.passwd.reset.l3'|trans|capitalize }} : <a href="mailto:support@tutomarks.fr">support@tutomarks.fr</a>
</p>
<p>{{ 'mail.end'|trans|capitalize }} Tutomarks.fr</p>
