<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
{#        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171506404-1"></script>#}
{#        <script>#}
{#            window.dataLayer = window.dataLayer || [];#}
{#            function gtag(){dataLayer.push(arguments);}#}
{#            gtag('js', new Date());#}

{#            gtag('config', 'UA-171506404-1');#}
{#        </script>#}

        <meta charset="UTF-8">
        <title>{% block title %}Tutomarks! Annuaire de tutoriaux pour les développeurs{% endblock %}</title>

        <meta name="description" content="L'annuaire de tutoriaux Tutomarks a été développé pour les futurs développeurs afin de recencer les contenus qui leurs permettront d'apprendre avec les meilleurs formateurs et les meilleurse formations">

        <link rel="icon" type="image/png" sizes="16x16"  href="{{ asset('build/images/favicon.png') }}">

        {{ encore_entry_link_tags('style') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="pt-7">
        {% include 'header.html.twig' %}

        <div id="wrapper">
            <main role="main" class="hero is-fullheight">
                <div class="container-fluid">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>

        {% include 'footer.html.twig' %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
