<div class="d-flex pt-5">
    <footer class="container pt-2">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="section-heading style-2 mb-4">
                    <h5 class="h5">Sections</h5>
                    <div class="line"></div>
                </div>

                {{ footerCategories() }}
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 offset-lg-1">
                <div class="section-heading style-2 mb-4">
                    <h5 class="h5">A propos</h5>
                    <div class="line"></div>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{{ path("contact") }}" class="nav-link py-0 ps-3 pe-0">Contact</a></li>
                    <li class="nav-item mb-2"><a href="{{ path("about") }}" class="nav-link py-0 ps-3 pe-0">A propos</a></li>
                    <li class="nav-item mb-2"><a href="{{ path("confidentiality") }}" class="nav-link py-0 ps-3 pe-0">Politique de confidentialité</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-4 offset-lg-1">
                <div class="section-heading style-2 mb-4">
                    <h5 class="h5">Affiliation</h5>
                    <div class="line"></div>
                </div>

                <a class="nav-link nav-item btn mb-2 footer-aff-link" href="https://hidora.io/fr" target="_blank" title="{{ 'nav.hidora'|trans }}">
                    <img src="{{ asset('build/images/hidora.png') }}" class="img-obambu" alt="{{ 'nav.hidora'|trans }}">
                </a>

                <a class="nav-link nav-item btn mb-2 footer-aff-link" href="https://www.buymeacoffee.com/tutomarks" target="_blank" title="{{ 'nav.buymeacoffee'|trans }}">
                    <i class="bi bi-cup-fill"></i> {{ 'nav.buymeacoffee'|trans }}
                </a>
            </div>
        </div>

        <div class="d-flex justify-content-between pt-4 mt-4 pb-1 mb-1 border-top">
            <p>2020 - 2022 ©Tutomarks</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3">
                    <a class="link-dark" href="https://twitter.com/tutomarks" target="_blank" title="Compte Twitter de Tutomark">
                        <i class="bi bi-twitter bi-2x"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="link-dark" href="https://github.com/tonnevillec/tutomarks" target="_blank" title="Source Github de Tutomark">
                        <i class="bi bi-github bi-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>