<header class="d-flex align-items-center bg-white fixed-top px-3">
    <button class="hamburger-btn btn mr-3" onclick="document.getElementById('side-menu').classList.toggle('open')">
        <i class="bi bi-list"></i>
    </button>

    <a href="{{ path('home') }}" class="header-logo">
        <img src="{{ asset('build/images/Logo.png') }}" alt="TutoMarks" class="d-inline-block logo me-1" loading="lazy">
        <span class="title align-middle d-none d-md-inline-flex"><span class="one">TUTO</span><span class="two">MARKS</span></span>
    </a>

    <div class="mx-sm-5 flex-grow-1">
        {% if app.request.get('_route') not in ['search'] %}
        <form name="f_search" method="get" action="{{ path('search') }}" class="search-box input-group input-group-sm mx-auto d-none d-md-flex">
            <input type="text" class="form-control" name="value" placeholder="{{ 'search.word'|trans|capitalize }} ..." />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary border search-btn" type="submit" style="width: 65px;">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <input type="hidden" name="element" value="word" />
        </form>
        {% endif %}
    </div>

    <div class="d-flex">
        <div class="d-md-none mx-2 flex-shrink-0">
            <a class="btn" href="#" role="button" id="" title="{{ 'nav.search_more'|trans|capitalize }}">
                <i class="bi bi-search me-1"></i>{{ 'nav.search'|trans|capitalize }}
            </a>
        </div>
        {% if app.user %}
            {% if notPublishedLinksCount(app.user.id) > 0 %}
            <div class="mx-2 flex-shrink-0">
                <a class="btn" href="{{ path('users.my_links') }}" role="button" id="navbar-warning-not-published" title="Liens non publiés">
                    <span class="badge rounded-pill bg-danger">{{ notPublishedLinksCount(app.user.id) }}</span>
                    <span class="visually-hidden">Liens non publiés</span>
                </a>
            </div>
            {% endif %}

            <div class="dropdown mx-2 flex-shrink-0">
                <a class="btn dropdown-toggle" href="#" role="button" id="navbar-add-new" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-plus-square"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-add-new">
                    {{ headerMenuAddByCategories() }}
                </ul>
            </div>

            <div class="dropdown mx-2 flex-shrink-0">
                <a class="btn dropdown-toggle" href="#" role="button" id="navbar-user-profile" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-lines-fill"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-user-profile">
                    <li>
                        <span class="dropdown-item-text fw-bold">{{ app.user.username ?: app.user.userIdentifier }}</span>
                    </li>

                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{{ path('users.profil') }}">
                            <i class="bi bi-person me-1"></i> {{ 'nav.account'|trans|capitalize }}
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ path('users.my_links') }}">
                            <i class="bi bi-person-lines-fill me-1"></i> {{ 'nav.tutos.user'|trans|capitalize }}
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="{{ path('admin') }}">
                                <i class="bi bi-gear-fill me-1"></i> {{ 'nav.admin'|trans|capitalize }}
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-secondary" href="{{ path('weekly.tweet') }}">
                                <i class="bi bi-twitter me-1"></i> {{ 'nav.weekly_tweet'|trans|capitalize }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <i class="bi bi-box-arrow-right me-1"></i> {{ 'nav.logout'|trans|capitalize }}
                        </a>
                    </li>
                </ul>
            </div>

        {% else %}
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="navbar-connexion" data-bs-toggle="dropdown">
                    <i class="bi bi-person-circle me-2"></i> {{ 'nav.login'|trans|capitalize }}
                </button>

                <div id="login-dp" class="dropdown-menu dropdown-menu-lg-right">
                    <form class="form" role="form" method="post" action="{{ path('app_login') }}" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                            <label class="sr-only" for="inputEmail">{{ 'user.email.title'|trans|capitalize }}</label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text bg-white text-primary">@</span>
                                <input type="email" name="email" id="inputEmail" class="form-control form-control-sm" placeholder="{{ 'user.email.placeholder'|trans|capitalize }}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="inputPassword">{{ 'user.password.title'|trans|capitalize }}</label>
                            <div class="input-group input-group-sm">
                                <span class="input-group-text bg-white text-primary"><i class="bi bi-lock"></i></span>
                                <input type="password" name="password" id="inputPassword" class="form-control form-control-sm" placeholder="{{ 'user.password.title'|trans|capitalize }}" required>
                            </div>

                            <div class="help-block text-end">
                                <a href="{{ path('app_password') }}">{{ 'user.password.forget'|trans|capitalize }}</a>
                            </div>
                        </div>

{#                        <div class="checkbox">#}
{#                            <label>#}
{#                                <input type="checkbox" name="_remember_me"> {{ 'user.keep_me_sign_in'|trans|capitalize }}#}
{#                            </label>#}
{#                        </div>#}

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_target_path" value="{{ app.request.requestUri }}"/>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block btn-sm mt-1">{{ 'nav.login'|trans|capitalize }}</button>
                        </div>
                    </form>

                    <div class="bottom text-center">
                        {{ 'nav.new_here'|trans|capitalize }} ? <a href="{{ path('app_register') }}"><b>{{ 'nav.register'|trans|capitalize }}</b></a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</header>