<div class="twPc-div h-100">
    <a class="twPc-bg twPc-block"></a>

    <div>
        <div class="twPc-button">
            {% if nb is same as (0) %}
                <span class="btn btn-info btn-sm">{{ 'channel.no_tutos'|trans|capitalize }}</span>
            {% else %}
                <a href="{{ path('channels.show', {'id': channel.id, 'slug': channel.slug}) }}" class="btn btn-info btn-sm"><i class="fas fa-layer-group"></i> {{ 'channel.all_tutos.link'|trans|capitalize }} [{{ channel.tutos|length }}]</a>
            {% endif %}
        </div>

        <div class="twPc-avatarLink">
            {% if channel.thumbnailsUrl %}
            <img alt="{{ channel.title }}" src="{{ channel.thumbnailsUrl }}" class="twPc-avatarImg">
            {% else %}
            <img alt="{{ channel.title }}" src="{{ asset('build/images/no-preview.png') }}" class="twPc-avatarImg">
            {% endif %}
        </div>

        <div class="twPc-divUser">
            <div class="twPc-divName">
                <i class="fas fa-at"></i> {{ channel.title }}
            </div>
        </div>

        <div class="twPc-divStats">
            <ul class="twPc-Arrange">
                {% if channel.siteUrl %}
                <li class="twPc-ArrangeSizeFit">
                    <a href="{{ channel.siteUrl }}" target="_blank" data-toggle="tooltip" title="{{ 'channel.site_url.link'|trans|capitalize }}">
                        <span class="twPc-StatLabel twPc-block"><i class="fas fa-link"></i></span>
                    </a>
                </li>
                {% endif %}
                {% if channel.youtubeId %}
                <li class="twPc-ArrangeSizeFit">
                    <a href="https://www.youtube.com/channel/{{ channel.youtubeId }}" target="_blank" class="text-danger" data-toggle="tooltip" title="{{ 'channel.youtube.label'|trans|capitalize }}">
                        <span class="twPc-StatLabel twPc-block"><i class="fab fa-youtube"></i></span>
                    </a>
                </li>
                {% endif %}
                {% if channel.twitter %}
                <li class="twPc-ArrangeSizeFit">
                    <a href="{{ channel.twitter }}" target="_blank" class="text-info" data-toggle="tooltip" title="{{ 'channel.twitter.label'|trans }}">
                        <span class="twPc-StatLabel twPc-block"><i class="fab fa-twitter"></i></span>
                    </a>
                </li>
                {% endif %}
                {% if channel.github %}
                <li class="twPc-ArrangeSizeFit">
                    <a href="{{ channel.github }}" target="_blank" data-toggle="tooltip" title="{{ 'channel.github.label'|trans }}">
                        <span class="twPc-StatLabel twPc-block"><i class="fab fa-github"></i></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
