{% set nb = channel['nb'] %}
{% set channel = channel[0] %}

<div class="col-lg-4 col-md-12 mb-3">
    <div class="cardbox h-100 shadow-lg bg-white">
        <div id="channel_card" class="row">
            {% if channel.thumbnailsUrl %}
                <div class="col-md-3">
                    <img src="{{ channel.thumbnailsUrl }}" class="thumb_channel" alt="">
                </div>
            {% endif%}
            <div class="col">
                <span class="channel_name mb-2"><i class="fas fa-at"></i> {{ channel.title }}</span><br/>

                <div class="list-group list-group-horizontal">
                    {% if channel.siteUrl %}
                        <a href="{{ channel.siteUrl }}" target="_blank" class="list-group-item mb-2 text-secondary" data-toggle="tooltip" title="{{ 'channel.site_url.link'|trans|capitalize }}"><i class="fas fa-link"></i></a>
                    {% endif %}
                    {% if channel.youtubeCustomUrl %}
                        <a href="https://www.youtube.com/c/{{ channel.youtubeCustomUrl }}" target="_blank" class="list-group-item mb-2 text-danger" data-toggle="tooltip" title="{{ 'channel.youtube.label'|trans|capitalize }}"><i class="fab fa-youtube"></i></a>
                    {% endif %}
                    {% if channel.twitter %}
                        <a href="{{ channel.twitter }}" target="_blank" class="list-group-item mb-2 text-info" data-toggle="tooltip" title="{{ 'channel.twitter.label'|trans }}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if channel.github %}
                        <a href="{{ channel.github }}" target="_blank" class="list-group-item mb-2" data-toggle="tooltip" title="{{ 'channel.github.label'|trans }}"><i class="fab fa-github"></i></a>
                    {% endif %}
                </div>
                {% if nb is same as (0) %}
                    <span class="mt-2">{{ 'channel.no_tutos'|trans|capitalize }}</span>
                {% else %}
                    <a href="{{ path('channels.show', {'id': channel.id, 'slug': channel.slug}) }}" class="mt-2"><i class="fas fa-layer-group"></i> {{ 'channel.all_tutos.link'|trans|capitalize }} [{{ channel.tutos|length }}]</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>