{% extends 'base.html.twig' %}

{% block title %}{{ 'channel.all_tutos.show'|trans|capitalize }}{% endblock %}

{% block body %}
    <h2 class="font-weight-light mb-3 text-white">{{ 'home.channels'|trans|capitalize }}</h2>
    <hr class="mb-3">

    <div class="search_filter text-right mb-3">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'search.channels.orderby.menu'|trans|capitalize }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{{ path('channels', { 'orderby' : 'nom', 'direction' : 'asc' }) }}" class="dropdown-item" type="button" data-order="name" data-direction="asc"><i class="fas fa-sort-alpha-up"></i> {{ 'search.channels.orderby.name.asc'|trans|capitalize }}</a>
                <a href="{{ path('channels', { 'orderby' : 'nom', 'direction' : 'desc' }) }}" class="dropdown-item" type="button" data-order="name" data-direction="desc"><i class="fas fa-sort-alpha-down"></i> {{ 'search.channels.orderby.name.desc'|trans|capitalize }}</a>
                <a href="{{ path('channels', { 'orderby' : 'tutos', 'direction' : 'asc' }) }}" class="dropdown-item" type="button" data-order="tutos" data-direction="asc"><i class="fas fa-sort-numeric-up"></i> {{ 'search.channels.orderby.tutos.asc'|trans|capitalize }}</a>
                <a href="{{ path('channels', { 'orderby' : 'tutos', 'direction' : 'desc' }) }}" class="dropdown-item" type="button" data-order="tutos" data-direction="desc"><i class="fas fa-sort-numeric-down"></i> {{ 'search.channels.orderby.tutos.asc'|trans|capitalize }}</a>
            </div>
        </div>
    </div>

    {% if channels is defined %}
        <div class="row mb-5">
            {% for channel in channels %}
                {% set nb = channel['nb'] %}
                {% set channel = channel[0] %}
                <div class="col-lg-4 col-md-12 mb-3">
                    {% include 'channels/__light_card.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(channels) }}
        </div>
    {% endif %}
{% endblock %}
