{% extends 'base.html.twig' %}

{% block title %}[Tutomarks] Hebdoo - Nouveau partage{% endblock %}

{% form_theme form _self %}
{% block _hebdoo_tags_row %}
    <div class="form-group mb-3">
        <label class="form-label" for="jstomselect">{{ label }}</label>
        {% if choices is iterable %}
            <select id="jstomselect" name="hebdoo[tags][]" multiple autocomplete="off">
                {% for id, k in choices %}
                    <option value="{{ k.data.id }}" {% if k.data.id in form.vars.value %}selected{% endif%}>{{ k.label }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
<section class="mt-4 mb-3">
    <div class="container">
        <div class="section-heading style-2 my-4">
            <h1 class="h1">
                <span class="text-primary me-2"><i class="bi bi-h-square"></i></span>Hebdoo: Partager une ressource
            </h1>
            <div class="line"></div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
                    {{ message|capitalize }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}
        <div class="row mt-2 mb-3">
            <div class="col-sm-12 col-lg-6">
                {{ form_row(form.title) }}
                {{ form_row(form.url) }}
                {{ form_row(form.pseudo) }}

                <small class="form-text text-muted">* {{ 'required_fields'|trans|capitalize }}</small>
            </div>

            <div class="col-sm-12 col-lg-6">
                {{ form_row(form.tags) }}
                {{ form_row(form.language) }}

                {{ form_rest(form) }}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6 text-center">
                <a href="{{ path('home') }}" class="btn btn-outline-danger" title="Retour à l'accueil">
                    Annuler
                </a>
            </div>

            <div class="col-6 text-center">
                <button class="btn btn-outline-success" type="submit">Envoyer</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}