{% extends 'base.html.twig' %}

{% block title %}[Tutomarks] Hebdoo : Toutes les ressources{% endblock %}

{% block body %}
<section class="mt-4 mb-3">
    <div class="container">
        <div class="section-heading style-2 my-4">
            <h1 class="h1">
                <span class="text-primary me-2"><img src="{{ asset('build/images/hebdoo.png') }}" alt="H" class="img-fluid" /></span>Toutes les ressources
            </h1>
            <div class="line"></div>
        </div>

        <hebdoolist-component />

        <div class="row mt-2 mb-3">
            <div class="list-group">
                {% for ressource in hebdoo %}
                    <div class="list-group-item my-2 rounded-10 card-hover">
                        <div class="mb-1">
                            <a href="{{ ressource.url }}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               target="_blank"
                               title="{{ 'links.target_blank'|trans|capitalize }} - {{ ressource.title }}"
                               class="text-decoration-none">
                                <strong>{{ ressource.title }}</strong><i class="ms-1 bi bi-box-arrow-up-right"></i>
                            </a>
                        </div>

                        <div class="video-meta small mb-2">
                        {% if ressource.language %}
                            {% if ressource.language.logo %}
                                <img src="{{ vich_uploader_asset(ressource.language, 'imageFile') }}"
                                     class="img-fluid flag-tag"
                                     alt="{{ ressource.language }}"
                                     title="{{ ressource.language }}"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                />
                            {% else %}
                                <span class="badge bg-primary rounded"
                                      title="{{ ressource.language }}"
                                      data-toggle="tooltip"
                                      data-placement="top"
                                >{{ ressource.language }}</span>
                            {% endif %}
                        {% endif %}

                        {% for tag in ressource.tags %}
                            <span class="badge bg-primary rounded"
                                  title="{{ tag }}"
                                  data-toggle="tooltip"
                                  data-placement="top"
                            >{{ tag }}</span>
                        {% endfor %}
                        </div>

                        <div class="video-meta small mb-2">
                            Ressource partagée par {{ ressource.pseudo }} le {{ ressource.createdAt|date('d/m/Y') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}