{% extends 'base.html.twig' %}

{% block title %}[Tutomarks] Liste des événements à venir{% endblock %}

{% block body %}
<section class="mt-5 mb-3">
    <div class="container">
        <div class="section-heading style-2 my-4">
            <h2 class="h2">
                <span class="text-primary me-2"><i class="bi bi-calendar3"></i></span>{{ 'events.futur.title'|trans|capitalize }}

                {% if app.user %}
                    <div class="float-end">
                        <a href="{{ path('events.add') }}" class="btn btn-xs btn-outline-primary btn-showlabelonhover">
                            <i class="bi bi-plus"></i>
                            <span>{{ 'categories.events.new'|trans|capitalize }}</span>
                        </a>
                    </div>
                {% endif %}
            </h2>
            <div class="line"></div>
        </div>

        <div class="row pb-3">
            <div class="list-group">
                {% for event in events %}
                    {{ include('home/_card_events.html.twig', { 'event': event}) }}
                {% endfor %}
            </div>
        </div>

        <div class="section-heading style-2 my-4">
            <h2 class="h2">
                <span class="text-primary me-2"><i class="bi bi-calendar2-check"></i></span>{{ 'events.finished.title'|trans|capitalize }}
            </h2>
            <div class="line"></div>
        </div>

        <div class="row pb-3">
            <div class="list-group">
                {% for event in finished %}
                    {{ include('home/_card_events.html.twig', { 'event': event}) }}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
