<h1>{{ 'deadlink.mail.subject'|trans|capitalize }}</h1>
<p>
    {{ 'deadlink.mail.from'|trans|capitalize }} : {{ mail_from }}<br/>
    {{ 'deadlink.mail.tuto.id'|trans|capitalize }} : {{ tuto.id }}<br/>
    {{ 'deadlink.mail.tuto.title'|trans|capitalize }} : {{ tuto.title }}<br/>
    {{ 'deadlink.mail.message'|trans|capitalize }}
</p>